.wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}

.header {
    margin: 16px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.imageWrapper {
    width: 100%;
    display: block;
    text-align: center;
    /* padding-bottom: 40px; */
}

.imageWrapper img {
    width: 100%;
}

.textWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    width: 100%;
    overflow: hidden;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 1;
    margin-left: 32px;
    margin-top: 32px;
}

.subtitle {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.6;
    /* margin: 24px 0 16px 0; */
    /* padding-top: 10px; */
    /* color: #000; */
}

.author {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    margin: 0 40px 4px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    .title {
        font-size: 44px;
    }

    .subtitle {
        font-size: 24px;
    }

    .author {
      font-size: 20px;
      margin-bottom: 8px;
      margin-right: 40px;
    }
}

@media (max-width: 360px) {
  .title {
      font-size: 40px;
  }

  .subtitle {
      font-size: 20px;
  }
}