.menuButtonWrapper {
    position: relative;
    display: flex;
    width: 48px;
    height: 48px;
    z-index: 2;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    outline: none;
}

.menuButtonWrapper:focus {
    background: var(--outline-bg);
}

hr {
    width: 80%;
    color: var(--color);
    /* height: 1px; */
}

.navWrapper {
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.navTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 8px 0 16px 0;
    font-weight: 800;
    height: auto;
    color: var(--color);
}

.menuLink {
    text-decoration: none;
    color: var(--color);
    font-weight: 500;
    font-size: var(--font-size);
    letter-spacing: 0.5;
    padding: 8px 4px;
}

/* @media (max-height: 600px) {
    .menuLink {
        padding: 4px 0;
        line-height: 16px;
    }
} */

.sidenav {
    height: 100%; /* 100% Full-height */
    max-width: 30%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: -300px;
    background-color: var(--bg); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 24px;
    transition: transform 250ms ease-in-out 0ms;
    z-index: 3;
    box-sizing: border-box;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s;
    display: none;
    z-index: 3;
}

/* The navigation menu links */
/* .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--main-color);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 500px) {
    .sidenav {
        max-width: 75%;
    }
    .sidenav a {
        font-size: 18px;
    }
}
