.wrapper {
    display: flex;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    color: var(--main-color);
    user-select: none;
    z-index: 2;
}

.markLabel{
    color: var(--color);
}
