.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
    letter-spacing: 0px;
    min-height: 100%;
    height: 100%;
    position: relative;
    font-size: var(--font-size)
}

.pageWrapper {
    border-radius: 4px;
    padding: 40px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,efeee8+100 */
    background: var(--bg); /* Old browsers */
    background: var(--bg-gradient);
    color: var(--color);
    order: 1;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.pageFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    height: initial;
    font-size: 32px;
    margin-bottom: 24px;
}

.fontSizeWrapper {
    padding: 20px;
    list-style: none;
}

.themeWrapper {
    margin-bottom: 8px;
    list-style: none;
}
.slider {
    width: 100%;
}

.textExample {
    margin-bottom: 24px;
}
.textExample p,
.textExample h4 {
    padding: 8px;
    margin: 0 !important;
}

.textExample li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
    color: var(--color);
    line-height: 1.7;
    margin-bottom: 8px;
    text-align: justify;
}

ul {
    margin: 0;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
}

li {
    margin-bottom: 8px;
}

.navigation {
    display: flex;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    border-radius: 50%;
    touch-action: manipulation;
}

.navigation:focus {
    background: var(--outline-bg);
}

h1 {
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

h3 {
    text-align: left;
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 768px;
    }
}

/* @media (max-height: 600px) {
    .title {
        font-size: 24px;
    }
} */
