article {
    /* position: relative;
    display: flex;
    flex-direction: column; */
    /* min-width: 35%; */
    /* max-width: 35%; */
    /* margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: justify;
    letter-spacing: 0px; */
    /* text-align: left !important; */
}

article p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-before: 5; 
    -webkit-hyphenate-limit-after: 2; 
    hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-lines: 2; 
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    hyphenate-limit-lines: 1; 
    margin: 0;
    text-indent: 16px;
    widows: 2;
    orphans: 2;
}

article h1 {
    break-after: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

article h3 {
    break-before: avoid;
    text-align: left;
}

.pageWrapper {
    border-radius: 4px;
    padding: 96px 72px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,efeee8+100 */
    background: var(--bg); /* Old browsers */
    background: var(--bg-gradient);
    color: var(--color);
    order: 1;
    box-sizing: border-box;
    margin-top: -4px;
}

.bookContent {
    overflow: hidden;
    height: 100%;
    column-width: 500px;
    column-gap: 0;
}

.pageFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNumber {
    font-weight: 600;
    width: 40px;
    text-align: center;
}

.navigation {
    display: flex;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    border-radius: 50%;
    touch-action: manipulation;
}

.navigation:focus {
    /* color: #FFFFFF; */
    background: var(--outline-bg);
}

/* 
@media (min-width: 2048px) {
    article {
        width: 800px;
    }
} */


/* @media (min-width: 768px) {
    article {
        width: 640px;
    }
} */


@media (max-width: 500px) {
    /* article {
        width: 100%;
    } */

    article h1 {
        height: 100%;
        font-size: 32px;
    }

    .pageWrapper {
        order: 2;
        padding: 40px;
    }
    .bookContent {
        column-width: 256px;
    }
}

@media (max-width: 360px) {
    .pageWrapper {
        order: 2;
        padding: 32px;
    }
}

@media (max-height: 600px) {
    .pageWrapper {
        order: 2;
        padding: 32px;
    }
}
/* @media (max-width: 2048px) {
    article {
        width: 800px;
    }
}


@media (max-width: 768px) {
    article {
        width: 640px;
    }
}

@media (max-width: 500px) {
    
    article {
        width: 100%;
    }
    article h1 {
        height: 100%;
        font-size: 32px;
    }

    .pageWrapper {
        order: 2;
        padding: 40px;
    }
    .bookContent {
        column-width: 256px;
    }
}

@media (max-width: 360px) {
    .pageWrapper {
        order: 2;
        padding: 32px;
    }
} */
